{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" ng-controller="AuthController as auth">
        <h1 class="text-center">Закрытый клуб культистов SYMFONY-поклонников</h1>
        <form class="form-signin" ng-show="auth.form == 1">
            <h2 class="form-signin-heading">Авторизация</h2>
            <div ng-show="auth.alertType == 1" class="alert alert-danger" role="alert">Неверный пароль <button class="btn btn-xs btn-link" ng-click="auth.sendRestoreCode(); auth.switchForm(2)">Восстановить</button>?</div>
            <div ng-show="auth.alertType == 2" class="alert alert-danger" role="alert">Код регистрации не введён <button class="btn btn-xs btn-link" ng-click="auth.sendRegisterCode(); auth.form = 3">Ввести</button>?</div>
            <div ng-show="auth.alertType == 3" class="alert alert-danger" role="alert">Пароля нет <button class="btn btn-xs btn-link" ng-click="auth.sendRestoreCode(); auth.form = 2">Установить</button>?</div>
            <label for="inputEmail" class="sr-only">Email адрес</label>
            <input type="email" id="inputEmail" class="form-control" ng-model="auth.email" ng-change="auth.onChangeEmail()" placeholder="Email адрес" required autofocus>
            <label for="inputPassword" class="sr-only">Пароль</label>
            <input type="password" id="inputPassword" class="form-control" ng-model="auth.password" ng-change="auth.onChangePassword()" placeholder="Пароль" required>
            <button class="btn btn-lg btn-block" type="submit" ng-class="{ 'btn-primary': auth.showPrimary(), 'btn-warning': !auth.showPrimary() }" ng-click="auth.onLogin()">[[auth.buttonLoginText]]</button>
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="auth.onBtnLoginOauth('https://oauth.vk.com/authorize?client_id=5493762&display=page&redirect_uri={{url('homepage')}}oauth/vk&scope=&response_type=code&v=5.52')">
                Вход через <img src="{{ asset('images/social/vk.png') }}" alt="vk" title="vk">
            </button>
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="auth.onBtnLoginOauth('https://accounts.google.com/o/oauth2/auth?client_id={{ '860345762051-fgkpvutgp2omhv0ebv2uo4e0t60u3a20.apps.googleusercontent.com' }}&response_type=code&scope=openid&redirect_uri={{url('homepage')}}oauth/google')">
                Вход через <img src="{{ asset('images/social/google.png') }}" alt="google" title="google">
            </button>
        </form>
        <form class="form-signin" ng-show="auth.form == 2">
            <h2 class="form-signin-heading">Восстановление</h2>
            <div ng-show="auth.showWarningInvalidRestore();" class="alert alert-danger" role="alert">Неверный код</div>
            <label>Код восстановления отправлен на email "[[auth.email]]", <button class="btn btn-xs btn-link" ng-click="auth.sendRestoreCode();">отправить повторно</button></label>
            <label for="inputCode" class="sr-only">Код</label>
            <input type="text" id="inputCode" class="form-control" ng-model="auth.codeRestore" ng-change="auth.onChangeRestoreCode()" placeholder="Код" required>
            <button class="btn btn-lg btn-primary" type="submit" ng-click="auth.form = 1; auth.alertType = 0">Отмена</button>
        </form>
        <form class="form-signin" ng-show="auth.form == 3">
            <h2 class="form-signin-heading">Регистрация</h2>
            <div ng-show="auth.showWarningInvalidRegister();" class="alert alert-danger" role="alert">Неверный код</div>
            <label>Код регистрации отправлен на email "[[auth.email]]", <button class="btn btn-xs btn-link" ng-click="auth.sendRegisterCode();">отправить повторно</button></label>
            <label for="inputCode" class="sr-only">Код</label>
            <input type="text" id="inputCode" class="form-control" ng-model="auth.codeRegister" ng-change="auth.onChangeRegisterCode()" placeholder="Код" required>
            <button class="btn btn-lg btn-primary" type="submit" ng-click="auth.form = 1; auth.alertType = 0">Отмена</button>
        </form>
    </div> <!-- /container -->
{% endblock %}