{% extends 'templates/user.html.twig' %}

{% block body %}
  <link href="{{ asset('css/post.css') }}" rel="stylesheet"/>
  <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>

  <div class="container">
    <div class="jumbotron">
      <h1>{{ post.title }}</h1>
      {% if allowEdit %}<div><a role="button" href="/post={{ post.id }}/edit" class="btn btn-lg btn-default" >Редактировать</a></div>{% endif %}
      <span class="views">Просмотров: {{ views }}</span>
    </div>

    {{ post.text | raw }}
  </div>

{% endblock %}